---
layout: default
---

<!-- Used for static pages like About, Projects, Terms, etc. -->

<!--
Relevant YAML front matter fields:
  default layout:
    - title
    - author    (defaults to site.owner)
    - excerpt   (meta-data only)
    - tags      (meta-data only)
  page layout:
    - image
      - feature
      - credit
    - categories
    - share
    - comments
    - ads
-->

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
	  
	  <!-- feature image -->
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		
		<!-- breadcrumbs -->
		{% include breadcrumbs.html %}
		
		<!-- title -->
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		
		
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
			  
				{{ content }}
				
				<hr />  <!-- page break in XHTML -->
				
				<footer class="page-footer">
				  <!-- share this on social media -->
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					
					<!-- stores time meta-data if "date" and "modified" are specified in YAML front matter  -->
					<!-- {% include page-meta.html %} -->
				</footer><!-- /.footer -->
				
				<!-- comments -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
				
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		
		<!-- advertisements -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
		
	</article><!-- ./wrap -->
</div><!-- /#main -->
