---
layout: default
---

<!--
  Relevant YAML front matter fields:
    - date        (required!)
    - modified    (required!)
    - image
      - feature
      - credit
    - categories  (removed, since it means including author)
    - share
    - comments
    - ads
  Relevant Includes:
    - image-credit.html
    - breadcrumbs.html
    - share-this.html
    - comments.html
    - advertising.html
  -->


<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
	  
	  <!-- feature image -->
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		
		<!-- breadcrumbs -->
		{% include breadcrumbs.html %}
		
		<!-- title -->
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		
		
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
			  
				{{ content }}
				
				<hr />  <!-- page break in XHTML -->
				
				<footer class="page-footer">
				  <!-- share this on social media -->
					{% if page.share != false %}{% include share-this.html %}{% endif %}
				</footer><!-- /.footer -->
				
				<!-- comments -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
				
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		
		<!-- advertisements -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
		
	</article><!-- ./wrap -->
</div><!-- /#main -->
